{% extends "blog/blog_base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class='row align-items-center' style='height: 25vh'>
        <div class='col-sm-2 text-center'>
            {% if author.avata %}
                <img src="{{ author.avata.url }}" 
                     alt="icon" 
                     class="rounded-circle"
                     style="width:150px; height:150px;">
            {% else %}
                <img src="{% static 'images/icon.jpg' %}" 
                     alt="default avatar" 
                     class="rounded-circle"
                     style="width:150px; height:150px;">
            {% endif %}
        </div>

        <div class='col-sm-9 d-flex align-items-center'>
            <h2 class="mb-0" style='color: black'>{{ author.author_name }}</h2>
        </div>
        
        <div class='col-sm-1 d-flex justify-content: center'>
            {% if show_chat_button %}
            <a href="{% url 'blogchat' %}?author_name={{ author.author_name }}">
                <button style="
                    background-color: white; 
                    color: black; 
                    border: 1px solid #ccc; 
                    padding: 4px 8px; 
                    border-radius: 5px; 
                    cursor: pointer;">
                    Chat
                </button>
            </a>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <h3 style='color: black'> List: </h3>
        {% for post in posts %}
            <div class="col-md-6 mb-4">
                    <div class="post-item sidebar_post p-3 border rounded shadow-sm h-100">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.context|linebreaks }}</p>

                        {% if post.post %}
                            <img src="{{ post.post.url }}" alt="uploaded image" style="max-width:100%; height:auto;">
                        {% endif %}

                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p style="color: red;">No posts available.</p>
                </div>
        {% endfor %}
    </div>
</div>    

{% endblock %}